extends layout

block content
	.wrapper
		.controller
			.header.controller-padding Binary Search Tree
			.controller-padding.control-container
				.control-title#insertButton Insert Node
				input.control-value#insertValue
			.controller-padding.control-container
				.control-title#removeButton Remove Node
				input.control-value#removeValue
			.controller-padding.control-container
				.control-title#searchButton Search Node
				input.control-value#searchValue
		.display#sketch-holder

